body{
    background-color: black;
    font-family: normal 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
   
}
h2{
    font-family:  20pt Georgia, 'Times New Roman', Times, serif;
    color: rgb(235, 252, 4);
    font-stretch: 2,8;
    letter-spacing: 0.2em;
    text-align: center;
    font-size: 50px;
}
img{
    
    display: flex;
    height: 350px;
    width: 300px;

    
}


h4{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

table{
    border-collapse: collapse;
    align-items: center;
    margin: auto;
    border-spacing: 100px;
    
    
}
td{
    border: 1px solid green;
   padding: 100px;
    text-align: center;
    margin: 5px;
}
h3{
    text-align: center;
    border: 10px;
    border-radius: 10px;
    border-color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.a{
    display: block;
   margin: auto;
   width: 200px;
   height: 200px;
   padding: 100px;
}
