body{
    margin-left: 300px;
    margin-right: 300px;
}
.topo{
    display: flex;
    justify-content: space-around;
    font-size: 12px;
}
header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
select{
    height: 25px;
    width:  300px;
}
.topo_cabeçalho1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;

}
.topo_cabeçalho2{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 40px;
}
.baixo{
    display: grid;
   grid-template-columns: auto auto auto auto;
   align-items: center;
   
}
input{
    width: 800px;
    height: 10px;
    padding: 25px;
}
.img{
    width: 50px;
    height: 50px;
}
.baixo,img{
    width: 300px;
    height: 100px;
}
.baixo1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
